.jumbotron {
  background-color: #e856d2;
  color: white;
  margin-top: 10px;
}
footer {
  padding: 10px 10px 0 10;
  margin-bottom: 0;
  margin-top: 10px;
  background-color: #e856d2;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 20px;
}
.tab-content {
  padding-top: 10px;
}
